/* //////////////
//     MAIN    //
////////////// */
main {
    padding: 25px 0;
    column-gap: 30px;
}
.menuGauche > img {
    border-radius: .25rem;
}
.menuGauche > img {
    max-width: 100%;
    height: auto;
    min-width: 162px;
    min-height: 307px;
}
.menuDroite {
    min-width: 250px;
    max-width: 500px;
}
.Description {
    padding-left: 10px;
    font-size: 0.9rem;
    color: #344050;
}