/* /////////////////
//     GENERAL    //
///////////////// */
*:focus {
    outline: none;
}
.invalidText {
    color: red;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-left: 10px;
    margin-top: 2px;
}

/* ////////////////
//     BUTTON    //
//////////////// */
label {
    min-width: 250px;
    padding: 5px 20px;
    line-height: 2rem;
    font-weight: 600;
    font-size: 0.9rem;
    color: #5e6e82;
}
label > input {
    margin-left: 5px;
    color: #344050;
    background-color: #fff;
    border: 1px solid #d8e2ef;
    border-radius: .25rem;
    padding: .3125rem 1rem;
    height: 1.1rem;
    width: 240px;
}
input[type="submit"] {
    background-color: #2c7be5;
	color: #fff;
    font-weight: 500;
	border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #2c7be5;
	padding: .3125rem 1rem;
	font-size: 1rem;
    line-height: 1.5;
	cursor: pointer;
	outline: inherit;
}
.register_button {
    background-color: #2c7be5;
	color: #fff;
    font-weight: 100;
	border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #2c7be5;
	padding: .1rem .6rem;
	font-size: 1rem;
	cursor: pointer;
	outline: inherit;
}

/* //////////////
//     BODY    //
////////////// */
.registerCorp {
    flex: 1;
    padding: 25px;
    background-color: #f9fafd;
    border-radius: .25rem;
}
.perso {
    padding: 15px;
    min-width: 150px;
    min-height: 250px;
    max-width: 250px;
}
.perso > span {
    margin: 10px;
    font-weight: 600;
    color: #5e6e82;
}
.perso > img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}
.persoDesc {
    display: flex;
    margin: 10px;
}
.persoDesc > p {
    margin: auto 10px;
    font-weight: 600;
}